# ===== Python =====
__pycache__/
*.pyc

# Virtual environment
/backend/venv/

# Environment variables
/backend/.env

# ===== Speech Models (VOSK) =====
/backend/models/vosk-model-*/

# ===== Frontend =====
/frontend/node_modules/

# ===== OS / Editor =====
.DS_St_
